.game, .container{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.container{
  position: relative;
  display: flex;
  margin: 20px;
  height: 90%;
  padding: 10px;
  width: clamp(300px, 70%, 700px);
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(171, 164, 164);
}

.word-guesser{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  gap: 20px;
}

.notebook{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  object-fit:cover;
  z-index: -1;
}

.row1{
  display: flex;
  justify-content: space-between;
}

.words{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  gap: 20px;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .word-guesser{
    flex-direction: row;
    gap: 10%;
  }
  .hang-container{
    width: 40%;
    height: 80%;
  }
  .words{
    align-self: flex-start;
    width: 40%;
  }
}