.keyboard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.letter > span{
  width: fit-content;
}

.letter{
  text-transform: uppercase;
  width: 20px;
  border-bottom: 5px solid blue;
  display: flex;
  justify-content: center;
}

.pointer:hover{
  cursor: pointer;
}

.word .letter:hover{
  cursor: default;
}

.key-row{
  display: flex;
  width: fit-content;
  align-self: center;
  gap: 10px;
}

.key-row > .letter{
  border: none;
}

.correct{
  background-color: lightgreen;
}

.wrong{
  background-color: rgb(186, 63, 63);
}