.word-guess{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-content: center;
  gap: 20px;
  min-height: fit-content;
}

.word{
  display: flex;
  min-height: var(--letter-height);
  gap: 5px;
  margin-bottom: -10px;
  min-height: var(--letter-height);
}