.show-box{
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;
  text-align: center;
}
.win{
  background-color: lightgreen;
}

.lose{
  background-color: rgb(238, 88, 88);
}

.not-visible{
  visibility: hidden;
  opacity: 0;
}